In [1]:
import pandas as pd
from pathlib import Path
import os
import sys

In [2]:
sys.path.append('..')

In [3]:
len(sys.path)

11

In [4]:
sys.path

['c:\\Users\\HP\\anaconda3\\envs\\torch-gpu\\python311.zip',
 'c:\\Users\\HP\\anaconda3\\envs\\torch-gpu\\DLLs',
 'c:\\Users\\HP\\anaconda3\\envs\\torch-gpu\\Lib',
 'c:\\Users\\HP\\anaconda3\\envs\\torch-gpu',
 '',
 'C:\\Users\\HP\\AppData\\Roaming\\Python\\Python311\\site-packages',
 'c:\\Users\\HP\\anaconda3\\envs\\torch-gpu\\Lib\\site-packages',
 'c:\\Users\\HP\\anaconda3\\envs\\torch-gpu\\Lib\\site-packages\\win32',
 'c:\\Users\\HP\\anaconda3\\envs\\torch-gpu\\Lib\\site-packages\\win32\\lib',
 'c:\\Users\\HP\\anaconda3\\envs\\torch-gpu\\Lib\\site-packages\\Pythonwin',
 '..']

In [8]:
from dataset.dataset import CelebADataset

In [23]:
labels = pd.read_csv("../data/celeba/list_eval_partition.csv", sep=",", header=0, names=["image", "split"]).head()
labels

        image  split
0  000001.jpg      0
1  000002.jpg      0
2  000003.jpg      0
3  000004.jpg      0
4  000005.jpg      0

In [24]:
images = pd.read_csv("../data/celeba/identity_CelebA.txt", sep=" ", header=None, names=["image", "personal_id"]).head()
images

        image  personal_id
0  000001.jpg         2880
1  000002.jpg         2937
2  000003.jpg         8692
3  000004.jpg         5805
4  000005.jpg         9295

In [25]:
merged = pd.merge(images, labels, on='image')
merged

        image  personal_id  split
0  000001.jpg         2880      0
1  000002.jpg         2937      0
2  000003.jpg         8692      0
3  000004.jpg         5805      0
4  000005.jpg         9295      0